{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json" >
    {
      "@context": "https://schema.org",
      "@id": "https://hds-sandbox.github.io/proteomics-sandbox/",
      "@type": "LearningResource",
      "dct:conformsTo": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE",
      "description": "A resource for biomedical students and researchers. Includes proteomics software tools like FragPipe, MaxQuant, PDV, SearchGUI, ThermoRawFileParser, and PeptideShaker. Offers a user-friendly interface, automated identification and quantification, comprehensive data analysis, and lightweight clone feature for optimized storage.",
      "keywords": [
        "proteomics, bioinformatics"
      ],
      "learningResourceType": [
        "e-Learning"
      ],
      "license": [
        {
          "@id": "https://creativecommons.org/licenses/by-sa/4.0/",
          "@type": "CreativeWork"
        }
      ],
      "mentions": [
        {
          "@id": "# Link to DOI or zenodo materials (10.5281/zenodo.7660225)",
          "@type": "Thing"
        },
        {
          "@id": "#Another link to DOI or zenodo materials (10.5281/zenodo.7565997)",
          "@type": "Thing"
        }
      ],
      "name" : "Proteomics Sandbox",
      "educationallevel" : "Beginner",
      "audience" : "MSc, PhD"
    }
    </script >
{% endblock %}
